*{
    font-family: sans-serif;
}

body {
    background: radial-gradient(#90EE90,#4c7720, #006400);
    height: 100vh;
}

.login-div {
    margin-left: 32%;
    width: 500px;
    background-color: #fff;
    padding: 60px;
    border-radius: 5%;
}

.logo-div img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 25%;
}



.title, .sub-title {
    text-align: center;
    color: #505050;
}

.title {
    font-weight: bold;
    font-size: 35px;
}

.sub-title {
    font-size: 18px;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.username, .password {
    display: block;
    border-radius: 30px;
    border: 1px solid rgb(0,0,0,0.5);
    padding: 10px;
    margin: 8px;
}

.form svg {
    height: 25px;
    margin-bottom: -5px;
    margin-left: 8px;
    margin-right: 5px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

button.signin-btn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: green;
    margin-bottom: 7px;
}

.sign-up{
    text-align: center;
    margin: 10px;
    margin-bottom: -20px;
}


a {
    text-decoration: none;
    color: #505050;
}